.modal-window-bonus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-bonus-rank {
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s;
    transform: scale(0);
}

.modal-window-bonus__scale-cont .slick-slider .slick-dots {
    bottom: 60px;
}

.modal-window-bonus__scale-cont .slick-slider .slick-dots li {
    margin: 0 20px;
    border-radius: 50%;
    border: 4px solid #154e72;
    height: 38px;
    width: 38px;
    padding: 4px;
    box-sizing: border-box;
}

.modal-window-bonus__scale-cont
    .slick-slider
    .slick-dots
    li.slick-active
    button::before {
    background-image: linear-gradient(
        0deg,
        #01f3f6 0%,
        #01f3f6 47%,
        #01f3f6 56%,
        #01f3f6 100%
    );
    filter: drop-shadow(0px 1px 5px #061725);
}

.modal-window-bonus__scale-cont .slick-slider .slick-dots li button::before {
    bottom: 40px;
    height: 26px;
    width: 26px;
    left: 2px;
    top: 2px;
    background-color: red;
    content: "";
    border-radius: 50%;
    background-color: #1e0928;
}

.modal-window-bonus-rank-close {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 100px;
    top: 180px;
    z-index: 10;
}

.carousel__image {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    position: relative;
}

.carousel__image img.carousel__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fb_button {
    position: absolute;
    left: 8%;
    bottom: 50px;
    z-index: 10;
    top: 72%;
    transform: scale(0.8);
    cursor: pointer;
}

.reg_button {
    position: absolute;
    right: 19%;
    bottom: 50px;
    z-index: 10;
    top: 72%;
    cursor: pointer;
}

.modal-window-bonus-tab {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.modal-window-bonus-tab > img {
    width: fit-content;
}

.tab-transition {
    cursor: pointer;
}

.bonus-mask {
    transition: transform 0.3s;
}

.rank-wrapper {
    position: absolute;
    top: 23%;
    left: 5%;
    height: 62%;
    padding-right: 1%;
    overflow-y: scroll;
}

.rank-control {
    position: relative;
    font-family: "Bronzier";
    text-align: center;
}

.rank-control > .rank-content {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.rank-content > .rank-num {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rank-content > .rank-num > span {
    position: absolute;
    padding-right: 4px;
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 0 0 10px black;
}

.rank-content > .user-info {
    display: flex;
    justify-content: left;
    width: 640px;
    align-items: center;
    gap: 20px;
    font-size: 50px;
    color: white;
    text-shadow: 0 4px 12px black;
}

.rank-content > .cashback-info {
    position: absolute;
    right: -70px;
    top: 10px;
    font-size: 80px;
    color: #d3b342;
    text-shadow: 0 4px 12px black;
}
